In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2020-05-07 20:42:28,3.07,172.79,83.17,78,100,9.62
1,1,Lebu,CL,2020-05-07 20:42:29,-37.62,-73.65,59.86,76,100,9.26
2,2,Nanortalik,GL,2020-05-07 20:42:29,60.14,-45.24,40.78,79,85,1.05
3,3,Sinnamary,GF,2020-05-07 20:42:29,5.38,-52.95,79.52,81,78,10.36
4,4,Kaitangata,NZ,2020-05-07 20:42:29,-46.28,169.85,52.00,69,56,8.01

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat","Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for you trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for you trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2020-05-07 20:42:28,3.07,172.79,83.17,78,100,9.62
3,3,Sinnamary,GF,2020-05-07 20:42:29,5.38,-52.95,79.52,81,78,10.36
5,5,Georgetown,MY,2020-05-07 20:42:30,5.41,100.34,80.60,100,20,1.12
9,9,Dicabisagan,PH,2020-05-07 20:42:31,17.08,122.42,79.05,80,12,1.99
11,11,Baghmara,IN,2020-05-07 20:42:32,23.80,86.21,83.98,55,0,6.20
12,12,Sitio Novo Do Tocantins,BR,2020-05-07 20:42:32,-5.52,-47.46,80.11,83,100,1.23
18,18,Puerto Ayora,EC,2020-05-07 20:42:34,-0.74,-90.35,86.00,66,20,11.41
21,21,Vaini,TO,2020-05-07 20:42:35,-21.20,-175.20,78.80,88,75,6.93
23,23,Kroya,ID,2020-05-07 20:42:35,-7.63,109.25,77.43,91,76,3.44
25,25,Avarua,CK,2020-05-07 20:42:36,-21.21,-159.78,80.60,83,15,3.36

In [11]:
preferred_cities_df.count()

City_ID       168
City          168
Country       166
Date          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                       City Country  Max Temp    Lat     Lng Hotel Name
0                Butaritari      KI     83.17   3.07  172.79
3                 Sinnamary      GF     79.52   5.38  -52.95
5                Georgetown      MY     80.60   5.41  100.34
9               Dicabisagan      PH     79.05  17.08  122.42
11                 Baghmara      IN     83.98  23.80   86.21
12  Sitio Novo Do Tocantins      BR     80.11  -5.52  -47.46
18             Puerto Ayora      EC     86.00  -0.74  -90.35
21                    Vaini      TO     78.80 -21.20 -175.20
23                    Kroya      ID     77.43  -7.63  109.25
25                   Avarua      CK     80.60 -21.21 -159.78

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

#Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    
    #Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Butaritari,KI,83.17,3.07,172.79,Isles Sunset Lodge
3,Sinnamary,GF,79.52,5.38,-52.95,ALETHEIA Appartement Sinnamary
5,Georgetown,MY,80.60,5.41,100.34,Cititel Penang
9,Dicabisagan,PH,79.05,17.08,122.42,
11,Baghmara,IN,83.98,23.80,86.21,BCCL Guest House Dumra
12,Sitio Novo Do Tocantins,BR,80.11,-5.52,-47.46,Imperial Hotel
18,Puerto Ayora,EC,86.00,-0.74,-90.35,Finch Bay Galapagos Hotel
21,Vaini,TO,78.80,-21.20,-175.20,Keleti Beach Resort
23,Kroya,ID,77.43,-7.63,109.25,RUSTANTO Fam
25,Avarua,CK,80.60,-21.21,-159.78,Paradise Inn

In [17]:
# Add a heatmap of temperatures for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
#Add a heatmap of temperature for the vacation sports and marker for each city
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))